:root{
     --nacbacround:#232536;
     --bodyfs:1.6rem;
     --bodylh:1.5rem;
     --ochsariq:#FFD3AF;
     --oq:#fff;
     --foterbcolor:#666DFF;
     --abacround:#444CFC;
     --vasheqora000:#000;
     --ochqora:#5D5F6D;
     --ochavorang:#ECF8F9;
     

}